<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Strategy Books</key>
	<array>
		<dict>
			<key>japaneseName</key>
			<string>Ten Ryaku No Maki</string>
			<key>unique</key>
			<string>0</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Chi Ryaku No Maki</string>
			<key>unique</key>
			<string>1</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Jin Ryaku No Maki</string>
			<key>unique</key>
			<string>2</string>
		</dict>
	</array>
	<key>Chapters</key>
	<array>
		<dict>
			<key>japaneseName</key>
			<string>REISHIKI TO DOJO-KUN</string>
			<key>strategyBook</key>
			<integer>0</integer>
			<key>unique</key>
			<string>0</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>JUNAN UNDO TO KOKYUHO</string>
			<key>strategyBook</key>
			<integer>0</integer>
			<key>unique</key>
			<string>1</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>TAIHENJUTSU SANPEN ICHIRYU</string>
			<key>strategyBook</key>
			<integer>0</integer>
			<key>unique</key>
			<string>2</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>KAMAE NO KATA KYUHO</string>
			<key>strategyBook</key>
			<integer>0</integer>
			<key>unique</key>
			<string>3</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>UKENAGASHI</string>
			<key>strategyBook</key>
			<integer>0</integer>
			<key>unique</key>
			<string>4</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>KERI KATA JUROPPO</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>5</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>KERI NI TAISURU UKE KATA</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>6</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>KEN NO TAISUKAI TO INASHIGATA</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>7</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>ASHIRAU</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>8</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>HAJUTSU NO HO</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>9</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>KANSETSU WAZA</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>10</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>GYAKU-GI</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>11</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>NAGE KATA</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>12</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>RYU SUI IKI</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>13</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>SHIME WAZA</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>14</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>SHODEN CHU GOKUI KYUSHO ZU</string>
			<key>strategyBook</key>
			<integer>1</integer>
			<key>unique</key>
			<string>15</string>
		</dict>
	</array>
	<key>Techniques</key>
	<array>
		<dict>
			<key>japaneseName</key>
			<string>Dojo-kun</string>
			<key>chapter</key>
			<integer>0</integer>
			<key>unique</key>
			<string>0</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Suwarigata</string>
			<key>chapter</key>
			<integer>0</integer>
			<key>unique</key>
			<string>1</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Seiza-rei</string>
			<key>chapter</key>
			<integer>0</integer>
			<key>unique</key>
			<string>2</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Shikin-haramitsu-daikomyo</string>
			<key>chapter</key>
			<integer>0</integer>
			<key>unique</key>
			<string>3</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Anza</string>
			<key>chapter</key>
			<integer>1</integer>
			<key>unique</key>
			<string>4</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kaiza</string>
			<key>chapter</key>
			<integer>1</integer>
			<key>unique</key>
			<string>5</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Choza</string>
			<key>chapter</key>
			<integer>1</integer>
			<key>unique</key>
			<string>6</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Enza</string>
			<key>chapter</key>
			<integer>1</integer>
			<key>unique</key>
			<string>7</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Shomenkokyuho</string>
			<key>chapter</key>
			<integer>1</integer>
			<key>unique</key>
			<string>8</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Seizasayushinkokyuho</string>
			<key>chapter</key>
			<integer>1</integer>
			<key>unique</key>
			<string>9</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Zenpokaiten-roppo</string>
			<key>chapter</key>
			<integer>2</integer>
			<key>unique</key>
			<string>10</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sokuhokaiten-roppo</string>
			<key>chapter</key>
			<integer>2</integer>
			<key>unique</key>
			<string>11</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ushirokaiten-roppo</string>
			<key>chapter</key>
			<integer>2</integer>
			<key>unique</key>
			<string>12</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Zenpoukemi-roppo</string>
			<key>chapter</key>
			<integer>2</integer>
			<key>unique</key>
			<string>13</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Yokonagare-roppo</string>
			<key>chapter</key>
			<integer>2</integer>
			<key>unique</key>
			<string>14</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ushironagare-roppo</string>
			<key>chapter</key>
			<integer>2</integer>
			<key>unique</key>
			<string>15</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Shihotenchitobi</string>
			<key>chapter</key>
			<integer>2</integer>
			<key>unique</key>
			<string>16</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Shizen no rippo</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>17</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Fudoza</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>18</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hiraichimonji</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>19</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ichimonji</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>20</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Doko</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>21</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hicho</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>22</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hoko</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>23</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kosei</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>24</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Jumonji</string>
			<key>chapter</key>
			<integer>3</integer>
			<key>unique</key>
			<string>25</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tsukitaisuru ukemi (jodan, chudan, gedan)</string>
			<key>chapter</key>
			<integer>4</integer>
			<key>unique</key>
			<string>26</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Keritaisuru ukemi (jodan, chudan, gedan)</string>
			<key>chapter</key>
			<integer>4</integer>
			<key>unique</key>
			<string>27</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sokuyakuken</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>28</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Omotesokuyakuken</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>29</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sokuyakuharaiken</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>30</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Nanameushirokata-tenchijinkeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>31</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kohogeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>32</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Umageri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>33</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kataashitobigeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>34</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ryoyokugeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>35</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sokuyakugeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>36</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sokuyakusuiheiken</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>37</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sokuhogeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>38</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Koken</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>39</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kagikohogeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>40</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sokkihentenken</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>41</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ryoashigeri</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>42</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Suijosokuyakuken</string>
			<key>chapter</key>
			<integer>5</integer>
			<key>unique</key>
			<string>43</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kerikudaki</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>44</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kyoto</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>45</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sukudori</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>46</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ashigari</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>47</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Taihen</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>48</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ashiomotegyakudori</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>49</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kerinotaidori</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>50</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tsureyuki</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>51</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ashiori</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>52</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Taiken</string>
			<key>chapter</key>
			<integer>6</integer>
			<key>unique</key>
			<string>53</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Henkaken</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>54</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Itamidori</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>55</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kennagashi</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>56</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Itamiuchi</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>57</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Henkakeri</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>58</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tedamadori</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>59</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tsukamidori</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>60</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kogerihenka</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>61</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kudaki</string>
			<key>chapter</key>
			<integer>7</integer>
			<key>unique</key>
			<string>62</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ipponme</string>
			<key>chapter</key>
			<integer>8</integer>
			<key>unique</key>
			<string>63</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Nihonme</string>
			<key>chapter</key>
			<integer>8</integer>
			<key>unique</key>
			<string>64</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sanbonme</string>
			<key>chapter</key>
			<integer>8</integer>
			<key>unique</key>
			<string>65</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Yonhonme</string>
			<key>chapter</key>
			<integer>8</integer>
			<key>unique</key>
			<string>66</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tehodoki</string>
			<key>chapter</key>
			<integer>9</integer>
			<key>unique</key>
			<string>67</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Taihodoki</string>
			<key>chapter</key>
			<integer>9</integer>
			<key>unique</key>
			<string>68</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Oyowaza</string>
			<key>chapter</key>
			<integer>9</integer>
			<key>unique</key>
			<string>69</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Happokerikata</string>
			<key>chapter</key>
			<integer>9</integer>
			<key>unique</key>
			<string>70</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Omotegyaku-roppou</string>
			<key>chapter</key>
			<integer>10</integer>
			<key>unique</key>
			<string>71</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Uragyaku-roppou</string>
			<key>chapter</key>
			<integer>10</integer>
			<key>unique</key>
			<string>72</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Takeori</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>73</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Omotekotegyaku</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>74</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Uragyaku</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>75</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hongyaku</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>76</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Omote-onikudaki</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>77</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ura-onikudaki</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>78</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Mushadori</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>79</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Musodori</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>80</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ogyaku</string>
			<key>chapter</key>
			<integer>11</integer>
			<key>unique</key>
			<string>81</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Gansekinage</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>82</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Haraigoshi to harai</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>83</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Gyakunage</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>84</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Takiotoshi</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>85</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Osotonage to Osotogake</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>86</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Uchimatauchigake</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>87</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Haneage to Hanekosshinage</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>88</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Itamikennage</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>89</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Jigoku to Gokuraku to Yume no makura</string>
			<key>chapter</key>
			<integer>12</integer>
			<key>unique</key>
			<string>90</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tomoenage</string>
			<key>chapter</key>
			<integer>13</integer>
			<key>unique</key>
			<string>91</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tachinage</string>
			<key>chapter</key>
			<integer>13</integer>
			<key>unique</key>
			<string>92</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Yokonagare</string>
			<key>chapter</key>
			<integer>13</integer>
			<key>unique</key>
			<string>93</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Temakura</string>
			<key>chapter</key>
			<integer>13</integer>
			<key>unique</key>
			<string>94</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kurumanage</string>
			<key>chapter</key>
			<integer>13</integer>
			<key>unique</key>
			<string>95</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Gyakujime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>96</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Honjime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>97</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sankakujime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>98</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Erijime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>99</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Mimijime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>100</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Itamijime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>101</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sankakuashijime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>102</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Dojime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>103</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Koroshijime</string>
			<key>chapter</key>
			<integer>14</integer>
			<key>unique</key>
			<string>104</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Urakimon</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>105</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kirigasumi</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>106</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kimon</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>107</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Happa</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>108</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Yaku</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>109</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Shinchu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>110</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kyokei</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>111</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ryufu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>112</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Ryumon</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>113</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kinketsu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>114</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Menbu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>115</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Matsukaze</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>116</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Wakitsubo</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>117</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hadome</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>118</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kasumi</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>119</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Jujiro</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>120</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Koshitsubo</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>121</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tokotsu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>122</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Murasame</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>123</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kenkotsu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>124</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Amado</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>125</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hiryuran</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>126</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Jakkin</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>127</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Koe</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>128</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Gorintsukikage</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>129</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hoshizawa</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>130</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Yubitsubo</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>131</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Shishiran</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>132</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Daimon</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>133</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tenmon</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>134</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Gorininazuma</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>135</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Uin</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>136</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Butsumetsu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>137</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Kosei</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>138</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Asagiri</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>139</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sai</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>140</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Sain</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>141</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Yugasumi</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>142</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Hoshi</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>143</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Jinchu</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>144</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Usai</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>145</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Tento</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>146</string>
		</dict>
		<dict>
			<key>japaneseName</key>
			<string>Gorin</string>
			<key>chapter</key>
			<integer>15</integer>
			<key>unique</key>
			<string>147</string>
		</dict>
	</array>
</dict>
</plist>
